@import url("https://fonts.googleapis.com/css2?family=Roboto+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

html, body{
  width: 100dvw;
  background-color: gray;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  width: 100dvw;
}

button{
  background-color: lightcoral;
  padding: 0.6rem;
  border-radius: 40px;
  cursor: pointer;
}
button:hover{
  background: lightgreen;
}

@theme{
  --color-white-50: #d9ecff;
  --color-blue-100: #2d2d38;
}

@layer utilities{
  .flex_center{
    @apply flex justify-center items-center;
  }
}

