@import url("https://fonts.googleapis.com/css2?family=Roboto+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

html, body{
  width: 100dvw;
  background-color: rgb(255, 94, 121);        /* pink */
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

section{
  width: 100dvw;
}

button{
  background-color: lightcoral;
  padding: 0.6rem;
  border-radius: 40px;
  cursor: pointer;
}
button:hover{
  background: lightgreen;
}

@theme{
  --color-white-50: #d9ecff;
  --color-blue-100: #2d2d38;
}

@layer utilities{
  .flex_center{
    @apply flex justify-center items-center;
  }
}

@layer components{
  .padding_x{
    @apply px-5 md:px-10
  }
  .padding_x_lg{
    @apply px-5 md:px-20
  }

  .grid-3-cols {
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6;
  }
  .grid_4_cols{
    @apply grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-7;
  }

  .section_padding{
    @apply px-5 md:px-10 md:mt-40 mt-20;
  }

  .arrow_wrapper{
    @apply group-hover:bg-yellow-500 size-10 rounded-full absolute right-10 top-1/2 -translate-y-1/2 flex justify-center items-center overflow-hidden;
  }
  .cta_wrapper{
    @apply relative z-20 cursor-pointer;
  }
  .cta_button{
    @apply p-3 m-2 rounded-lg bg-teal-800 flex justify-center items-center relative cursor-pointer overflow-hidden;
  }
  .bg_circle {
    @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 w-[120%] h-[120%] group-hover:size-10 group-hover:right-10 rounded-full bg-white-50 transition-all duration-500;
  }
  .text {
    @apply uppercase md:text-lg text-black transition-all duration-500 group-hover:text-white-50 group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
  }



  .navbar{
    @apply text-white-50 fixed w-full left-1/2 py-5 px-5 md:px-20 -translate-x-1/2 z-[100] transition-all duration-300 ease-in-out;
  }
  .navbar_inner{
    @apply mx-auto flex items-center justify-between;
  }

  nav.desktop{
    @apply hidden lg:flex items-center;
  }
  nav.desktop ul{
    @apply flex space-x-8;
  }
  nav.desktop li{
    @apply text-yellow-600 relative;
  }
  nav.desktop li span{
    @apply transition-colors duration-300 hover:text-blue-500;
  }

  .navbar.scrolled{
    @apply top-0 bg-green-900;
  }
  .navbar.not_scrolled{
    @apply md:top-10 top-0 bg-transparent;
  }

  
  
  .hero_layout{
    @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
  }
  .hero_text {
    @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
  }
  .hero_text_slide{
    @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
  }

  .hero_3d_layout{
    @apply xl:w-[70%] w-full h-full min-h-[50vh] absolute xl:-top-20 top-24 xl:-right-20 right-0;
  }


  .showcase_work{
    @apply bg-amber-900 w-full mt-20 px-5 md:px-20 py-10 md:py-20 flex items-center justify-center;
  }
  .showcase_layout{
    @apply bg-blue-500 flex xl:flex-row flex-col gap-10 justify-between;
  }
  .showcase_wrapper_one{
    @apply bg-red-500 h-full flex flex-col justify-between xl:w-[60%] rounded-md;
  }
  .showcase_image_wrapper_one{
    @apply bg-amber-400 xl:h-[70vh] md:h-[50vh] h-96 relative rounded-md;
  }
  .showcase_image_wrapper_one img{
    @apply w-[500px] h-[500px] object-cover rounded-xl absolute inset-0;
  }
  .showcase_text_content{
    @apply space-y-5 mt-5;
  }
  .showcase_text_content h2{
    @apply text-2xl md:text-3xl lg:text-4xl font-bold
  }



  .showcase_list_wrapper{
    @apply bg-red-500 flex md:flex-row flex-col xl:flex-col gap-10 xl:w-[40%];
  }
  .showcase_list_wrapper img{
    @apply w-full h-full object-contain rounded-xl;
  }
  .showcase_list_image_wrapper{
    @apply bg-amber-400 xl:h-[37vh] md:h-52 lg:h-72 h-64 relative rounded-xl xl:px-5 2xl:px-12 py-0;
  }
  .showcase_list_wrapper h2{
    @apply text-lg md:text-xl lg:text-2xl font-semibold mt-5;
  }

  .gradient_edge{
    @apply w-36 h-full absolute bottom-0 z-20;
  }

  .card_border{
    @apply border border-green-600 bg-red-950;
  }



  .hero_badge {
    @apply bg-blue-600 py-2 px-4 rounded-full w-fit text-sm md:text-base text-nowrap;
  }



  .exp_card_wrapper{
    @apply flex flex-col-reverse xl:flex-row xl:gap-20 gap-10 justify-between;
  }


  .timeline_wrapper {
    @apply absolute top-0 xl:left-[35.5vw] md:left-10 left-5 h-full flex justify-center;
  }

  .timeline {     /* slowly reveal the timeline */
    @apply absolute z-30 h-[110%] -top-10 w-14 md:w-28 bg-red-500;
  }

  .timeline_logo {
    @apply border border-green-600 bg-blue-900 md:size-20 size-10 flex-none rounded-full flex justify-center items-center md:-translate-y-7;
  }


  .tech-grid {
    @apply grid xl:grid-cols-5 md:grid-cols-3 grid-cols-1 xl:gap-16 md:gap-10 gap-5 mt-16;
  }

  .tech_card {
    @apply flex flex-col md:justify-center items-center xl:gap-5 xl:h-[50vh] overflow-hidden relative z-10 group-hover:cursor-grab;
  }
  .tech_card p {
    @apply text-lg 2xl:text-2xl pb-5 xl:pb-0 font-semibold text-white-50 text-center;
  }

  .tech_card_animated_bg {
    @apply bg-red-900 absolute left-0 bottom-[-100%] w-full h-full group-hover:bottom-0 transition-all duration-700;
  }

  .tech_icon_wrapper {
    @apply flex justify-center items-center w-52 h-60 relative;
  }


  form {
    label {
      @apply block text-orange-500 mb-2;
    }

    input,
    textarea {
      @apply w-full px-4 py-4 md:text-base text-sm placeholder:text-blue-500 bg-green-950 rounded-lg;
    }
  }
}


/* -------------------------- Hero Slider -------------------------- */
.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}
.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }
  12.5% {
    transform: translateY(-12.5%);
  }
  25% {
    transform: translateY(-25%);
  }
  37.5% {
    transform: translateY(-37.5%);
  }
  50% {
    transform: translateY(-50%);
  }
  62.5% {
    transform: translateY(-62.5%);
  }
  75% {
    transform: translateY(-75%);
  }
  87.5% {
    transform: translateY(-87.5%);
  }
}


/* -------------------------- Custom random css -------------------------- */
.pry_gradient{
  background: #833AB4;
  background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.css_background_one{
  background-image: radial-gradient(circle at center center, #575600, #d20f0f), repeating-radial-gradient(circle at center center, #575600, #575600, 23px, transparent 46px, transparent 23px);
  background-blend-mode: multiply;
  background-color: #d20f0f;
}




.marquee_item {
  @apply bg-black md:w-40 w-32;
}

.marquee {
  background-color: #833AB4;
  width: 100dvw;
  overflow: hidden;
  position: relative;
}
.marquee_box {
  background-color: #d20f0f;
  display: flex;
  align-items: center;
  width: 200%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  animation: marquee 10s linear infinite;       /* 60s */
}
.marquee_item {
  float: left;
}


@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}




.gradient_line {
  width: 2px;
  background: linear-gradient(
    0deg,
    rgba(69, 222, 196, 0) 0%,
    #62e0ff 25%,
    #52aeff 37.51%,
    #fd5c79 62.83%,
    #6d45ce 92.91%
  );
}

.card {
  --start: 0;
  position: relative;
  z-index: 40;
  overflow: hidden;
  transition: border-color 1s ease-in-out;
}

.card::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  border: 2px solid transparent;
  background: var(--gradient);
  background-attachment: fixed;
  mask: linear-gradient(#0000, #0000),
    conic-gradient(
      from calc((var(--start) - 15) * 1deg),
      #ffffff1f 0deg,
      white,
      #ffffff00 100deg
    );
  mask-composite: intersect;
  mask-clip: padding-box, border-box;
  opacity: 0;
  transition: 0.5s ease;
}

.glow {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(10px);
  filter: saturate(200);
}

.card:hover::before {
  opacity: 1;
}